.h1header{
    margin-left: 30px;
    margin-top: 20px;
    color: white;
    font-family: inherit;
    font-size: 50px;
    padding: 10px;
word-spacing: 5px;
}
.header{
    background-color: rgb(30, 30, 243);
    height: 80px;
}
.container-fluid{
    background-color: rgb(58, 56, 56);
    height: 70px;

}
.headerdivtext{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-style inherit;
    text-align: center;
    padding: 10px;
}
.container{
    background-color: rgb(104, 102, 102);
}
.img{
    margin-top: 30px;
}
.imgtext{
    color: rgb(118, 118, 201);
    font-size: 20px;
}



/* bhool bhulayya page CSS */
.headertext{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style inherit;
    text-align: center;
    padding: 10px;
}
.mainimg{
  width: 100%;

}
.imgtitle{
    margin-top: 20px;
    color: rgb(214, 202, 202);
}