.h1header{
    margin-left: 30px;
    margin-top: 20px;
    color: white;
    font-family: inherit;
    font-size: 30px;
    padding: 0px;
word-spacing: 5px;
text-align: center;
}
.pheader{
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 0px;
    text-align: center;
}
.header{
    background-color: rgb(52, 110, 219);
    height: 85px;
}
.container-fluid{
    background-color: rgb(255, 255, 255);
    height: 70px;

}
.headerdivtext{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style inherit;
    text-align: center;
    padding: 10px;
}
.container{
    background-color: rgb(104, 102, 102);
}
.img{
    margin-top: 30px;
}
.imgtext{
    color: rgb(118, 118, 201);
    font-size: 20px;
}
/* .container{
    background-color: aqua;
    color: black;
    font-size: 10px;
    height: 300px;
    margin-top: 2100px;
} */



/* bhool bhulayya page CSS */
.headertext{
    color: rgb(5, 5, 5);
    font-size: 18px;
    font-style inherit;
    text-align: center;
    padding: 10px;
}
.mainimg{
  width: 100%;

}
.imgtitle{
    margin-top: 20px;
    color: rgb(214, 202, 202);
}